.container {
  width: 60%;
  min-width: 320px;
  max-width: 600px;
  height: auto;
  color: var(--main-text-color);
  background-color: var(--main-background-color);
}

.main_title {
  text-transform: uppercase;
}

.container p {
  padding: 6px 0;
}

.title_name {
  font-size: 24px;
  font-weight: 700;
}

.title {
  padding: 8px;
  padding-left: 16px;
  font-size: 18px;
  font-weight: 700;
}

.container h3 {
  padding: 6px 0 4px;
  margin: 0;
}

.container ul {
  margin: 0 0 6px 0;
  padding: 0;
  list-style: none;
}

.item {
  padding-bottom: 8px;
  font-style: italic;
}

.link {
  display: block;
  width: 50%;
  margin: 12px auto 18px;
  padding: 4px;
  color: var(--main-text-color);
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--second-background-color);
  border: 1px solid var(--first-border-color);
  border-radius: 8px;
}

@media (min-width: 768px) {
  .container {
    border: 1px solid var(--first-border-color);
    box-shadow: 0 10px 20px var(--box-shadow-color);
  }
}
